@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 10px;
}

a {
    color: #F8F7FF;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

header {
    position: fixed;
    width: 100%;
}

.logo {
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #9381FF;
    height: 7rem;
}

.nav-list {
    list-style: none;
    font-size: 1.4rem;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
   display: none;
   cursor: pointer; 
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: #F8F7FF;
    margin: 8px;
    transition: 0.3s;
}

.nav-list.active {
    transform: translateX(0);
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px); 
}

/*home*/
.container {
    padding-top: 7rem;
    width: 100%;
}

.container img {
    width: 100%;
    margin: 1rem;
}


.home-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2rem;
}

.home-content h1 {
    font-size: 2.5rem;
    padding-top: 4rem;

    color: #2f2b46;
}

.home-content p {
    font-size: 1.6rem;
    color: #c0c0c0;
}

.home-content a {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    width: 30%;
    height: 4rem;
    margin-top: 1rem;

    background-color: #9381FF;
    color: #F8F7FF;
    font-size: 1.4rem;
    font-weight: 600;

    border-radius: 10px;
}

/*about*/
.container-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container-about iframe {
    width: 90%;
    margin: 1rem;
    border: transparent;

    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}

.about-content h2 {
    font-size: 2.5rem;
    color: #2f2b46;
}

.about-content p {
    font-size: 1.6rem;
    color: #8b8b8b;
}



@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
 
    .nav-list {
        position: absolute;
        top: 7rem;
        right: 0;
        width: 100vw;
        height: 95vh;
        background-color: #9381FF;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 1;
        font-size: 2.5rem;
    }

    .mobile-menu {
        display: block;
    }
}

@media (max-width: 320px) {
    .logo {
        font-size: 1.8rem;
    }

    nav {
        height: 5rem;
    }

    .nav-list {
        top: 5rem;
    }
}

